.account {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: cover;
}

.info {
  width: 70%;
  height: 90%;
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
}

.account-img-wrapper {
  width: 25%;
  height: 450px;
  margin: 10px;
}

.account-img {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 25px;
}

.account-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.account-info {
  width: 45%;
  height: 500px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.account-edit {
  width: 45%;
  height: 500px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.attribute-account {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  text-transform: uppercase;
}

.attribute-account p {
  color: #f8104d;
  margin-left: 5px;
}

.edit {
  text-transform: uppercase;
  width: 120px;
  height: 30px;
  margin: 20px 0;
  border-radius: 5px;
  border: none;
  outline: none;
}

.edit:hover {
  opacity: 0.7;;
}

.edit-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.edit-form label {
  font-size: 18px;
  margin-top: 15px;
}

.change_password {
  width: 45%;
  height: 500px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.change-form {
  display: flex;
  flex-direction: column;
}

.change-form input {
  width: 300px;
  height: 30px;
  border-radius: 3px;
  margin: 20px 0;
}

.accept-btn {
  text-transform: uppercase;
  width: 120px;
  height: 30px;
  margin: 20px 0;
  border-radius: 5px;
  border: none;
  outline: none;
}

.accept-btn:hover {
  opacity: 0.7;
}


