header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: black;
  color: white;
}

header a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account {
  width: 24px;
  height: 24px;
  overflow: hidden;
  margin-right: 10px;
}

.account img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
