<div class="change">

  <div class="wrapper">
    <p class="title">Change Password</p>
    <form [formGroup]="form" method="post" class="form" (ngSubmit)=changePassword()>
      <input [formControl]="password" class="email" type="password" placeholder="Please enter password">
      <input [formControl]="repeatPassword" class="email" type="password" placeholder="Please repeat password">
      <input class="change-btn" type="submit" value="apply">
      <div *ngIf="error">{{error|json}}</div>
      <div>{{message}}</div>
    </form>
  </div>
</div>
